<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- link for favricon -->
    <link rel="icon" href="/images/favicon.ico">
    <!--[if lt IE 9]>
    <script>
      document.createElement("header");
      document.createElement("footer");
      document.createElement("section");
      document.createElement("nav");
      document.createElement("main");
      document.createElement("aside");
      document.createElement("article");
    </script>
    <noscript>
      <strong>Warning</strong>
      <h2>Your browser does not support javascript</h2>
    </noscript>
    <![endif]-->
    <meta name="author" content="nirajgeorgian">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="an dummy forum website build on nodejs and expressjs">
    <title>Demo forum</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrapValidator.css" media="screen" title="no title">
    <link rel="stylesheet" href="css/app.css">
    <script src="js/lib/jquery.min.js" charset="utf-8"></script>
    <script src="js/lib/bootstrap.min.js" charset="utf-8"></script>
    <script src="js/lib/bootstrapValidator.js" charset="utf-8"></script>
    <script src="js/lib/particle.js" charset="utf-8"></script>
  </head>
  <body>

    <% include ./partials/navbar %>
    <div class="alert alert-success text-center banner-alert" role="alert"> <strong>Alfa Version</strong> The search feature is not working due to not supporting of elasticsearch. </div>

      <%- body -%>

    <% include ./partials/footer %>
    <script src="js/app.js" charset="utf-8"></script>
</body>
</html>
