#logo_header {
  margin-top: 20%;
  margin-bottom: 10%;
}

#login_form{
  margin-top: 35%;
  margin-left: 20%;
  margin-right: 20%;
}

.login_btn {
  margin-left: 45%;
}

#signup_form{
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

#forgot_password__form {
  margin-top: 35%;
  margin-left: 20%;
  margin-right: 20%;
}

.alert-danger {
  margin-top: -20px;
}

.banner-alert {
  margin-top: -19px;
}
