/*
css reset for HTML5 support
@author: nirajgeorgian
*/

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
}
