/*
Css Reset
@Author: nirajgeorgian
*/

/*html5 reset*/
@import "html5.css";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,
font,img,ins,kdb,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,
center,dl,dd,dt,ol,ul,li,fieldset,form,label,legend,table,
thead,tbody,tfoot,tr,th,td {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  font-size: 100%;
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol,ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  vertical-align: middle;
}

a img {
  border: none;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
