<% layout('layout') -%>
<div class="container-fluid">
  <div class="row">

    <div class="col-md-6">
      <div id="forgot_password__form">
          <form action="/forgot" method="POST" class="form-horizontal" id="forgotPassword">
            <div class="form-group">
                <label class="col-lg-3 control-label">Email address</label>
                <div class="col-lg-9">
                    <input type="email" class="form-control" name="email" />
                </div>
            </div>
            <div class="login_btn">
              <button class="btn btn-info" type="submit">Send</button>
            </div>
          </form>
        </div>
    </div>
    <div class="col-md-6">
      <img src="./img/03.png" alt="" class="center-block img-responsive img_login" id="logo_header" />
    </div>
  </div>
</div>
